.mainbar a{
    margin-left: 230px;
    margin-top: 10px;
     
}
.About{
    margin-left: 250px;
    margin-top: 150px;
    display: flex;
}
.Profile{
    margin-left: 250px;
    margin-top: 80px;
    display: flex;
}
.Project{
    margin-left: 250px;
    margin-top: 80px;
}
.Contact{
    margin-left: 250px;
    margin-top: 80px;
}
.mainbar nav span a{
  text-decoration-line: none;
}

.Education{
    margin-left: 100px;
}
.h1{
    margin-top: 100px;
    text-align: center;
}
.contact{
    text-align: center;
    margin-top: 80px;
}
.picture{
    margin-left: 100px;
}
button{
    background-color: gainsboro;
    border-radius: 20px;
    box-sizing: 35px;
}
.contact form p input{
    border-radius: 10px;
}
.subject h1{
    text-align: center;
    margin-top: 80px;
}
